body {
    background-color: #f0f4ef;
    color: #0d1821;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSection {
    margin-top: 7%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c7eae4;
    border-style: solid;
    border-color: #c7eae4;
    border-width: 5px;
    padding: 50px;
}

#restaurant {
    font-size: 50px;
}

#subheader {
    font-size: 40px;
    padding-bottom: 2%;
}

#formContainer {
    position: relative;
}

#resButtonDiv {
    position: relative;
    left: 25%;
    margin-bottom: 2%;
}

#form {
    display: flex;
    flex-direction: column;
    width: 200%;
    position: relative;
    right: 50%
}
